main{
    display: flex;
    justify-content: center;
    align-items: center;
    height:80vh;
}


.box{
    height:50px;
    width:50px;
    border: 1px solid black;
}

#game-body{
    height:150px;
    width:150px;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3 50px);
    position: relative;
}

#win-popup{
    position: absolute;
    top: -50%;
}

.disabled{
    pointer-events: none;
}