*{
    margin: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
}

#graph-body{
    height: 400px;
    width: 900px;
    display: flex;
}

#data-body{
    height: 400px;
    width: 850px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#y-axis{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: 409px;
}

.bar{
    border:1px solid black;
    width: 30px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bar-label{
    position: absolute;
    bottom: -20px;
}

p{
    margin:0;
    padding:0;
    margin-top: -10px;
}